## Følgende variabler må eksistere for å bruke denne propertyfilen:
## - SRVPENSJON_USERNAME
## - SRVPENSJON_PASSWORD
## - OPENAM_SECRET

NAIS_APP_NAME: 'eessi-pensjon-fagmodul'
NAIS_APP_IMAGE: 'localrun'

NAIS_NAMESPACE: 'q2'

eessi-pensjon-active-profiles: ${spring.profiles.active}

eessi-pensjon-institusjon: 'NO:NAVAT07'
eessi-pensjon-institusjon-navn: 'NAVAT 07'

#eux-rina-api_v1:
eessipen-eux-rina:
   url: 'https://eux-rina-api-q2.nais.preprod.local/cpi'

pensjonsinformasjon:
  url: 'https://wasapp-q2.adeo.no/pensjon-ws/api/pensjonsinformasjon/v1'

requestsamlpolicy:
  path: 'classpath:policy/requestSamlPolicyNoTransportBinding.xml'

srveessipensjon:
  username: '${SRVEESSIPENSJON_USERNAME}'
  password: '${SRVEESSIPENSJON_PASSWORD_Q}'

srvusername: ${srveessipensjon.username}
srvpassword: ${srveessipensjon.password}

app:
  name: 'DEVELOP'
  version: '0.1'

security-token-service-token:
  url: 'https://security-token-service.nais.preprod.local/rest/v1/sts/token'

securityTokenService:
  url: 'https://sts-q2.preprod.local/SecurityTokenServiceProvider/'

saf.graphql:
  url: 'https://saf-q2.nais.preprod.local/graphql'

saf.hentdokument:
  url: 'https://saf-q2.nais.preprod.local/rest/hentdokument'

kodeverk.rest-api:
  url: 'https://kodeverk.nais.adeo.no'

server:
  servlet:
    session:
      timeout:  '2m'
  port:         '8081'

no.nav.security.jwt:
  issuer.isso:
    proxyurl:
    cookiename: 'eessipensjon-idtoken'
    discoveryurl: 'https://isso-q.adeo.no:443/isso/oauth2/.well-known/openid-configuration'
    accepted_audience: 'eessi-pensjon-frontend-api-fss-q2'
  issuer.oidc:
    discoveryurl: 'https://isso-q.adeo.no:443/isso/oauth2/.well-known/openid-configuration'
    accepted_audience: 'security-token-service,freg-token-provider-p,freg-token-provider-t0,freg-token-provider-q4,eessi-pensjon-fagmodul-q2,eessi-pensjon-frontend-api-fss-q2,ida-t,ida-q'
  issuer.servicebruker:
    discoveryurl: 'https://security-token-service.nais.preprod.local/rest/v1/sts/.well-known/openid-configuration'
    accepted_audience: 'preprod.local,srveessipensjon,srvpensjon'

http.proxy.parametername:

spring:
  metrics:
    web:
      server:
        auto-time-requests: 'true'

management:
  endpoints:
    enabled-by-default: 'true'
    jmx:
      exposure.include: '*'
    web:
      exposure.include: 'info, health, metrics, prometheus'
