<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %level] %logger{15} : %m%n%xEx</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>eessi-fagmodul</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="auditLogger" additivity="false">
            <appender-ref ref="auditLogger" />
        </logger>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.eessi" level="INFO"/>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="OFF"/>
        <logger name="no.nav.eessi.pensjon.logging.AuditLogger" level="OFF"/>
        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <!--  For kjøring i kube/docker under miljø T,Q  -->
    <springProfile name="test">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %level] %logger{15} : %mdc - %m%n%xEx</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>eessi-fagmodul</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="auditLogger" additivity="false">
            <appender-ref ref="auditLogger" />
        </logger>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.eessi" level="DEBUG"/>
        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <!--  Kun for kjøring lokalt i utviklerimage/direkte i intellij -->
    <springProfile name="local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%magenta(%d{dd-MM-yyyy HH:mm:ss.SSS}) %highlight(%-5level) %logger{20} - %msg%n</pattern>
            </encoder>
        </appender>
        <appender name="auditLogger" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%boldMagenta(%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}) %highlight(%level)] %red(%logger{15}) : %mdc - %m%n%xEx</pattern>
            </encoder>
        </appender>

        <logger level="INFO" name="auditLogger" additivity="false">
            <appender-ref ref="auditLogger" />
        </logger>


        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.eessi" level="DEBUG"/>

        <root level="info">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>

</configuration>
